body{
    background-color: #c7aee7;
    color: rgb(255, 0, 0);
}

h1, p, li{
    font-family: "SegoiUI", "SegoiUI", monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e1d3c;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #4c54a4;
}

.grid-container{
    display:grid;
    grid-template-columns: 35% 35% 30%;
    grid-gap: 100000px;
}

.grid-item{
    background-color: #2e1d3c;
    text-align: center;
    font-size:medium;
    padding:20px;
}

.navmenu{
    grid-column: 1 / span 3;
    grid-row: 1;
    padding:0px;
}

.main-image{
    grid-column: 1 / span 2;
    grid-row: 2;
}

.main1{
    grid-column: 2 / span 2;
    grid-row: 3;
}

.support1{
    grid-column: 2;
    grid-row: 4;
}

.support2{
    grid-column: 3;
    grid-row: 4;
}

.main2{
    grid-column: 1;
    grid-row: 3 / span 2;
}

.sidenav{
    grid-column: 3;
    grid-row: 2;
}