h1, h2, h3{
    color:rgb(18, 29, 60);
}

body{
    background-color: #ffffff;
}

p{
    font-family: "arboria", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: large;
}

li{
    font-family: "arboria", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h2, h3{
    font-family: "dejanire-headline", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    text-align: center;
}

h3{
    text-align: left;
}


h1{
    font-family: "dejanire-headline", serif;
    font-weight: 500;
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(25, 39, 81);
}

.navmenu{
    grid-column: 1 / span 3;
    grid-row: 1;
    padding:0px;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: rgb(255, 184, 6);
}
  
.active {
    background-color:rgb(255, 184, 6);
}
.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(25, 39, 81);
    color: white;
    text-align: center;
  }